* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

main {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    background-color: lightseagreen;
    border-radius: 10px;
    padding: 10px;
}

main h1,
main h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#languages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

#languages button {
    border-radius: 5px;
    border-color: transparent;
    background-color: white;
    cursor: pointer;
    font-size: medium;
    width: fit-content;
}