* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#image-slider {
    width: 600px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#image-div {
    width: 100%;
    height: 90%;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fade-out linear 1 paused forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#img-counter {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 2px;
}

#controls {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#prev,
#next {
    width: 10%;
    height: 100%;
    padding: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: teal;
    color: #fff;
}

#image-switcher {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


#image-switcher li {
    width: 5%;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
    background-color: lightgray;
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-switcher li.active {
    background-color: teal;
    color: #fff;
}