* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Tahoma;
}

form {
    width: 400px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 15px;
}

form>div {
    padding: 5px 0;
}

form input[type="radio"] {
    appearance: none;
}

form label {
    position: relative;
    padding-left: 25px;
}

form label::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid #0075ff;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: white;
}

form input[type="radio"]:checked+label::after,
form input[type="radio"]:not(:checked):hover+label::after {
    content: "";
    background-color: #0075ff;
    width: 10px;
    border-radius: 50%;
    height: 10px;
    position: absolute;
    left: 4px;
    top: 4px;
}

form input[type="radio"]:not(:checked):hover+label::after {
    opacity: 0.2;
}

form input[type="radio"]:checked+label {
    color: #0075ff;
}